// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "default/_variables.scss";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@import "default/_grids.scss";
@import "default/_styles.scss";