.fluid-container{
    @include container;
}
.container{
    @include container(1140px);
}
body{
    background-color: #EEEEEE;
}
header{
    @include container;
    background-color: #404040;
    height:45px;
    color:#EEEEEE;
    .navigation{
        @include container(1140px);
        h1{
        	margin: 0;
        	text-align: center;
        }
    }
}
.content{
    @include container(1140px);
    background-color: #FFF;
    min-height:2000px;
}
.row{
	@include span (12 nest);
	background-color:#FFF;
    margin-top: 10px;
}
.kotakfoto{
    @include span(3);
    .foto{
        position: relative;
        img{
            width: 100%;
            transition: 1s
        }
        .foto-b{
            position:absolute;
            top:0;
            img{
                width: 100%;
                opacity: 0;
                transition: 1s;
            }
        }
        &:hover{
            img{
                opacity:0;
            }
            .foto-b{
                img{
                    opacity:1;
                    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }       
    }
}

.info{
	@include span(9 nest);
}
.showreel{
	@include span(12);
	ul{
		padding:0;
	}
	li{
		@include span(4);
		list-style-type : none;
		border:1px solid #000;
		height: 200px;
        text-align: center;
        a{
            text-decoration: none;
            line-height: 200px;
        }
	}
}
th,td{
    padding:10px;
}