@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.wrapper-bg-top{
	@include span (12 nest);
	min-height:100vh;
	background-image: url(/img/Scuba-Diver-Copyright-Rich-Carey.jpg);
	background-size: 400% auto;
	background-position: bottom;
	background-repeat: no-repeat;
	background-color:black;
	.tulisan{
		position: fixed;
		width: 100%;
		left: 10%;
		top:0;
		h1{
			color: #fff;
			background-color: rgba(49, 125, 247,0.8);
			padding:10px;
			border-left: 5px solid #fff;
			width: 60%;
			font-size: 18px;
		}
		p{
			color: #fff;
			background-color: rgba(49, 125, 247,0.9);
			padding:10px;
			border-left: 5px solid #fff;
			width: 80%;
			text-indent: 20px;
			text-align: justify;
		}
	}
	@include susy-breakpoint($tablet-size){
		display: none;
	}
	@include susy-breakpoint($desktop-size){
		display: none;
	}
}

.wrapper-bg-top-tablet{
	display:none;
	min-height:100vh;
	@include susy-breakpoint($tablet-size){
		display: block;
		background-size: 200% auto;
		background-position: bottom right;
		background-color: #000;
		background-repeat: no-repeat;
		background-image: url(/img/Lion-fish-Copyright-Vudhikrai.jpg);
		.tulisan{
			position: fixed;
			right: 0;
			width: 50%;
			top:10%;
			h1{
			color: #fff;
			background-color: rgba(49, 125, 247,0.8);
			padding:10px;
			border-left: 5px solid #fff;
			width: 60%;
			font-size: 18px;
			}
			p{
				color: #fff;
				background-color: rgba(49, 125, 247,0.9);
				padding:10px;
				border-left: 5px solid #fff;
				width: 80%;
				text-indent: 20px;
				text-align: justify;
			}
		}
	} 
	@include susy-breakpoint($desktop-size){
		display: none;
	}
}

.wrapper-bg-top-desktop{
	display:none;
	min-height:100vh;
	@include susy-breakpoint($tablet-size){
		display: none;
	} 
	@include susy-breakpoint($desktop-size){
		display: block;
		background-size: 100% auto;
		background-position: center;
		background-color: #000;
		background-repeat: no-repeat;
		background-image: url(/img/Sea-Turtle-Copyright-Rich-Carey.jpg);
		.tulisan{
			position:fixed;
			top: 30%;
			left: 10%;
			h1{
			color: #fff;
			background-color: rgba(49, 125, 247,0.8);
			padding:10px;
			border-left: 5px solid #fff;
			width: 20%;
			font-size: 18px;
			}
			p{
				color: #fff;
				background-color: rgba(49, 125, 247,0.9);
				padding:10px;
				border-left: 5px solid #fff;
				width: 30%;
				text-indent: 20px;
				text-align: justify;
			}
		}
	}
}

.brand{
	@include span(12);
	ul{
		padding:0;
	}
	li{
		@include span(1 of 5);
		list-style-type : none;
		border:1px solid #000;
		height: 200px;
        text-align: center;
        position:relative;
        a{
            text-decoration: none;
            color: #000;
        }
        a:hover{
        	font-style: italic;
        	color: blue;
        }
        p{
            text-decoration: none;
            position: absolute;
    		top: 85%;
    		left: 50%;
    		margin:0;
    		transform: translate(-50%, -50%);
        }
        i{
            text-decoration: none;
            line-height: 200px;
        }
	}
}

.brand2{
	@include span(12);
	margin:0;
	ul{
		padding:0;
	}
	li{
		@include span(1 of 6);
		list-style-type : none;
		border:1px solid #fff;
		height: 150px auto;
		width: 150px;
	    text-align: center;
	    position:relative;
	    background-color:#000;
	    border-radius:20px;
	    a{
	        text-decoration: none;
	        color: #fff;
	    }
	    a:hover{
	    	font-style: italic;
	        color: blue;
	    }
	    p{
	        text-decoration: none;
	        position: absolute;
	    	top: 85%;
	    	left: 50%;
	    	margin:0;
	    	transform: translate(-50%, -50%);
	    }
	    i{
	        text-decoration: none;
	        line-height: 150px;
	    }
	}
}

.brand3{
	@include span(12);
	margin:0;
	ul{
		padding:0;
	}
	li{
		@include span(1 of 6);
		list-style-type : none;
		padding:0;
		margin:0;
		.kotak{
			height: 150px;
			width: 150px;
	        text-align: center;
	        margin:auto;
	        position:relative;
	        background-color:#000;
	        border-radius:20px;
	        border:3px solid #fff;
	        a{
	            text-decoration: none;
	            color: #fff;
	        }
	        a:hover{
	        	font-style: italic;
	        	color: blue;
	        }
	        p{
	            text-decoration: none;
	            position: absolute;
	    		top: 85%;
	    		left: 50%;
	    		margin:0;
	    		transform: translate(-50%, -50%);
	        }
	        i{
	            text-decoration: none;
	            line-height: 150px;
	        }
        }
	}
}

.brand4{
	@include span(12);
	margin:0;
	margin-top:10px;
	.full{
	@include span (1 of 3);
		.kotak{
			height: 200px;
			width: 200px;
		    text-align: center;
		    margin:auto;
		    position:relative;
		    background-color:cornflowerblue;
		    border-radius: 30% 10%;
		    margin-top: 10px;
		    a{
		        text-decoration: none;
		        color: #000;
			    &:hover{
			    	transition: 2s;
			       	color: coral;
			    }
		    }
		    p{
		        text-decoration: none;
		        position: absolute;
		    	top: 85%;
		    	left: 50%;
		    	margin:0;
		    	transform: translate(-50%, -50%);
		    }
		    i{
		        text-decoration: none;
		        line-height: 200px;
		    }
	    }
	    .kotak:hover{
			border-radius:50%;

		}
	}
}
.brand5{
	@include span(12);
	margin:0;
	margin-top:10px;
	.full{
	@include span (4);
	border:1px solid #000;
		.kotak{
			margin:auto;
			width: 250px;
			height:250px;
		    text-align: center;
		    position:relative;
		    transition: 1s ease;
		    background-color: coral;
		    a{
		        text-decoration: none;
		        color: #000;
		    }
		    p{
		        text-decoration: none;
		        position: absolute;
		    	top: 85%;
		    	left: 50%;
		    	margin:0;
		    	transform: translate(-50%, -50%);
		    }
		    i{
		        text-decoration: none;
		        line-height: 250px;
		    }
		    .link{
				position: absolute;
				bottom:0;
				left: 0;
				right: 0;
				background-color: #008CBA;
				overflow: hidden;
				width: 100%;
				height:100%;
				transition: 2s;
				.text {
					position: absolute;
					overflow: hidden;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
		    }
		    &:hover{
		    	.link{
		    		height:0;
		    		bottom:100%;
		    		opacity:0.8;
		    	}
		    }
	    }
	}
}


.nav-header{
	@include container;
	background-color: #404040;
	height:80px;
	position:fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom:0;
	margin:0;
	.navbar{
		.logo{
			@include span(12);
			height:80px;
			text-align: center;
			img{
				height: 100%;
				float:left;
			}
			i{
				float:right;
				color: #fff;
				margin:17px;
				padding:5px;
				border:1px solid #fff;
				border-radius:10%;
				width: 40px;
			}
		}
		.menu{
			@include span(12);
			display: none;
			padding:0;
			ul{
				margin:0;
				padding:0;
				text-align: center;
				li{
					margin:0;
					padding:5px;
					width: 100%;
					list-style-type: none;
					border-bottom:1px solid #fff;
					background-color:#839eb9;
					a{
						text-decoration: none;
						color:#fff;
					}
					&:hover{
						background-color:#fff;
						border-bottom:1px solid #839eb9;
						a{
							color: #000;
						}
					}
				}
			}
		}
		@include susy-breakpoint($tablet-size){
			@include container(1144px);
			.logo{
				@include span(3);
				height:80px;
				img{
					height: 100%;
				}
				i{
					display: none;
				}
			}
			.menu{
				@include span(9);
				display: block;
				height: 80px;
				ul{
					float:right;
					li{
						list-style-type: none;
						float:left;
						width: auto;
						margin:20px 4px 0 0;
						padding:10px;
						background-color:#839eb9;
						border-radius:5%;
						border: 1px solid #fff;
						a{
							text-decoration: none;
							color: #fff;
						}
						&:hover{
							background-color:#fff;
							border:1px solid #839eb9;
							a{
								color:#000;
							}
						}
					}
				}
			}
		}
		@include susy-breakpoint($desktop-size){
			
		}
	}
}
.nav-content{
	@include container(1144px);
	background-color:#fff;
	height:100%;
	margin-top:85px;
	.content-home{
		@include span(12);
		.title-home{
			@include span(12);
			font-family: 'Lobster', cursive;
			h1{
				letter-spacing: 2px;
			}
		}
		.foto-home{
			@include span(12);
			margin-top: 15px;
			img{
				width: 100%;
				border:0px solid #839eb9;
				border-radius:5%;
			}
		}
		.info-home{
			@include span(12);
			p{
				text-indent: 30px;
			}
		}
	}
	@include susy-breakpoint($tablet-size){
		.content-home{
			@include span(12);
			.title-home{
				@include span(12);
				font-family: 'Lobster', cursive;
				h1{
					letter-spacing: 2px;
				}
			}
			.foto-home{
				@include span(6);
				margin-top: 15px;
				img{
					width: 100%;
					border:3px solid #839eb9;
					border-radius:5%;
				}
			}
			.info-home{
				@include span(6);
				p{
					text-indent: 30px;
				}
			}
		}
	}
	@include susy-breakpoint($desktop-size){

	}
}
.nav-footer{
	@include container;
	background-color:#404040;
	height:80px;
	margin-top:5px;
}
.k-body{
	background-color:#fff;
}
.k-header{
	display:block;
	@include container;
	border-bottom:2px solid #eee;
	background-color:#fff;
	height:40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	position:fixed;
	top:0;
	left:0;
	right:0;
	.k-nav{
		@include container(1144px);
		position:relative;
			.k-logo{
				position:absolute;
				top:0;
				left:50%;
				transform:translateX(-50%);
				h1{
					display: none;
				}
				img{
					display: block;
					height: 40px;
				}
			}
			.k-menu{
				position:absolute;
				top:0;
				left:0;
				ul{
					display: none;
				}
				.km-icon{
					display: block;
					padding:5px;
				}
				a{
					color: #000;
				}
			}
		@include susy-breakpoint($tablet-size){
			.k-logo{
				position:absolute;
				top:0;
				left:50%;
				transform:translateX(-50%);
				h1{
					display: none;
				}
				img{
					display: block;
					height: 40px;
				}
			}
			.k-menu{
				position:absolute;
				top:0;
				left:0;
				ul{
					display: none;
				}
				.km-icon{
					display: block;
					padding:5px;
				}
			}
		}
		@include susy-breakpoint($desktop-size){
			.k-logo{
				position:absolute;
				left:0;
				top:0;
				h1{
					float:left;
					margin-top: 5px;
					margin-bottom:0;
					margin-left:150px;
					display: block;
				}
				img{
					display: none;
				}
			}
			.k-menu{
				position:absolute;
				width: 100%;
				top:0;
				left:100%;
				transform: translateX(-75%);
				.km-icon{
					display: none;
				}
				ul{
					display: block;
					margin:0;
					padding:0;
					a{
						display: block;
						color:#000;
						text-decoration: none;
						font-size: 18px;
					}
					i{
						float:right;
					}
					li{
						position:relative;
						font-size: 18px;
						list-style-type: none;
						float:left;
						margin:0;
						padding: 12px 40px 10px 40px;
						&:hover{
							background-color:#eee;
						}
						&:hover > ul{
							display: block;
						}
					}
					ul{
						display: none;
						position:absolute;
						top:100%;
						background-color:rgba(0,0,0,0.8);
						padding:0;
						margin:0;
						left:0;
						li{
							float:none;
							width:150px;
							margin:0;
							padding:0;
						}
						a{
							line-height: 120%;
							padding:10px 15px;
							color: #fff;
							&:hover{
								color: #000;
							}
						}
						ul{
							top:0;
							left:100%;
						}
					}
					.k-icon{
						&:hover{
							opacity:0.5;
							background-color:#fff;
						}
					}
				}
			}
		}
	}
}
.k-content{
	@include container(1144px);
	margin-top:80px;
	.galer{
		@include span(6);
		padding:20px;
		.date{
			text-align:center;
			font-size: 9px;
		}
		.image{
			img{
				width:100%;
			}
		}
		.title{
			text-align: center;
			font-size: 14px;
			margin: 10px 0 15px 0;
		}
		.capt{
			display: none;
			font-size: 14px;
		}
	}
	@include susy-breakpoint($tablet-size){
		.galer{
			@include span(6);
			padding:20px;
			.date{
				text-align:center;
				font-size: 12px;
			}
			.image{
				img{
					width:100%;
				}
			}
			.title{
				text-align: center;
				font-size: 21px;
				margin: 10px 0 15px 0;
			}
			.capt{
				display: block;
				font-size: 14px;
			}
		}
	}
	@include susy-breakpoint($desktop-size){
		.galer{
			@include span(4);
			padding:20px;
			.date{
				text-align:center;
				font-size: 12px;
			}
			.image{
				img{
					width:100%;
				}
			}
			.title{
				text-align: center;
				font-size: 21px;
				margin: 10px 0 15px 0;
			}
			.capt{
				display: block;
				font-size: 14px;
			}
		}
	}
}
.k-pagging{
	// @include span(12);
	position:fixed;
	bottom:0;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
	ul{
		margin:0;
		padding:0;
		height: 25px;
		background-color:rgba(0,0,0,0.5);
		li{
			font-size: 14px;
			list-style-type: none;
			float:left;
			margin:0 0 0 2px;
			padding:5px;
			background-color:rgba(0,0,0,0.6);
			&:hover{
				background-color:rgba(0,0,0,0.8);
			}
		}
	}
	a{
		color: #fff;
		text-decoration: none;
	}
	@include susy-breakpoint($tablet-size){
		ul{
			margin:0;
			padding:0;
			height: 45px;
			background-color:rgba(0,0,0,0.5);
			li{
				font-size: 14px;
				list-style-type: none;
				float:left;
				margin:0 0 0 2px;
				padding:15px;
				background-color:rgba(0,0,0,0.6);
				&:hover{
					background-color:rgba(0,0,0,0.8);
				}
			}
		}
	}
	@include susy-breakpoint($desktop-size){
		ul{
			margin:0;
			padding:0;
			height: 45px;
			background-color:rgba(0,0,0,0.5);
			li{
				font-size: 14px;
				list-style-type: none;
				float:left;
				margin:0 0 0 2px;
				padding:15px;
				background-color:rgba(0,0,0,0.6);
				&:hover{
					background-color:rgba(0,0,0,0.8);
				}
			}
		}
	}
}
.k-footer{
	font-size:14px;
	padding:20px 10px 20px 10px;
	background-color:#eee;
}
.h-header{
	display:none;
	@include container;
	background-color:rgba(0,0,0,0.9);
	height:40px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	position:fixed;
	top:0;
	left:0;
	right:0;
	.h-nav{
		@include container(1144px);
		position:relative;
		.h-logo{
			position:absolute;
			top:0;
			left:50%;
			transform:translateX(-50%);
			img{
				height: 40px;
			}
		}
		.h-menu{
			position:absolute;
			top:0;
			left:0;
			padding:5px;
			color: white;
		}
		a{
			color: #fff;
		}
	}
}
.hu-menu{
	display:none;
	@include span(12);
	position:fixed;
	top:40px;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	color:#fff;
	ul{
		padding:30px;
		text-align: center;
		margin-top: 30%;
		li{
			font-size: 24px;
			list-style-type:none;
			padding:10px;
			border-bottom:1px solid #fff;
		}
	}
}
.nomine{
	position:fixed;
	top:40px;
	right:0;
	img{
		display: none;
	}
	@include susy-breakpoint($tablet-size){
		img{
			display: block;
		}	
	}
	@include susy-breakpoint($tablet-size){
		img{
			display: block;
			width:120px;
		}	
	}
}